body{
background-color:#dddddd;
margin:10px;
}

.box{
background-color:#ffff00;

}

.debug{
background-color:#ff00ff;
}

.buttonActive{
background-color:#00ff00;
}

.arrowButton{

margin:4px;
}

.headertext{
font-size:large;
}

.bold{
font-weight:bold;
}

.center{
text-align:center;
}

.topSpaced{
margin-top:10px;
}

.videoFeedContainer{
background-color:#aaaaaa;
padding:20px;
border: 1px solid #444444;
border-radius:5px;
}

#videoFeed{
background-color:#aaaaaa;
border: 1px solid #444444;
width:100%;
border-radius:5px;
}

